$blue-85: rgba(52, 152, 219,0.85);
$blue-100: rgb(52, 152, 219);
$navy-100:  #425b72;

@mixin bgFade($time) {
    -webkit-transition: background $time ease;
    -moz-transition: background $time ease;
    -o-transition: background $time ease;
    transition: background $time ease;
}
@mixin headingFont($fontSize) {
    text-transform: uppercase;
    font-size: $fontSize;
    font-family: 'futura-pt';
    font-weight: bold;
}
@mixin transformSetup($time) {
    -webkit-transition:all $time ease;
    -moz-transition:all $time ease;
    -o-transition:all $time ease;
    -ms-transition:all $time ease;
    transition:all $time ease;
}
@mixin transformScale($amount) {
    -webkit-transform:scale($amount);
    -moz-transform:scale($amount);
    -o-transform:scale($amount);
    -ms-transform:scale($amount);
    transform:scale($amount);
}

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "pragmatica-web",sans-serif;
}

h1, h2 {
  font-family: "futura-pt",sans-serif;
  font-weight: 700;
}



.navbar-wrapper {
  position: relative;
  z-index: 16;
}


.carousel {
  margin-bottom: 0;
  margin-top: -90px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 800px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 800px;
}



.marketing {
  padding-left: 15px;
  padding-right: 15px;
  .col-lg-4 {
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.featurette-divider {
  margin: 80px 0;

}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


.navbar-brand {
  @include headingFont(1.5em);  
  letter-spacing: 2px;
  display: block;
  color: #0099FF;
  padding: 0;
  word-spacing: 0.3em;
}

.navbar-wrapper .navbar {
  border-radius: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}

.navbar-default {
  background-color: rgba(250, 250, 250, 0.95);
}

.navbar-header, .navbar-brand {
  float: none;
}

#lgo {
  width: 200px;
  height: 200px;
}

.navbar-slug {
  display: block;
}

.navbar-brand > span {
  font-size: 0.8em;
  font-weight: 100;
  color: #e0e0e0;
  word-spacing: 0.2em;
}

.brand_design, .brand_development {
  color: #ccc;
}

.navbar-btn {
  position: absolute;
  top: 2px;
  right: -50px;
  width: 25px;
  height: 25px;
  background: none transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 2em;
  opacity: 0.5;
  i {
    position: absolute;
    top: 0;
    left: 0px;
    &:first-child {
      position: absolute;
      top: 9px;
    }
    &:last-child {
      position: absolute;
      top: 18px;
    }
  }
}

#menuArea {
  height: 0px;
  border-radius: 0px;
  overflow: hidden;
  ul.nav {
    margin-top: 30px;
    letter-spacing: 1px;
    @include headingFont(1.7em);  
  }
}

#socialLinks {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
  display: none;
  background-color:  #ccc + 33;
  h4 {
      @include headingFont(12px);
      letter-spacing: 2px;
      color: #ccc - 10;
      background-color:  #ccc + 30;
      margin:0;
      padding: 4px 0;
  }
  
  ul.socialIcons {
    
    margin: 0;
    padding: 0;
    margin-top: 10px;
    position: relative;
    font-size: 1.5em;

  }

  .socialIcons li {
    display: inline-block;
    a {
      border-radius: 999px;
      background-color: #ddd;
      font-size: 1em;
      display: block;
      width: 50px;
      height: 50px;
      color: #ccc;
      font-weight: 100;
      margin-right: 15px;
      padding-top: 10px;
      @include bgFade(0.5s); 
    }
    &:last-child a {
      margin-right: 0;
    }
  }

  .twitter-si a:hover {
    background-color: #7cdbf9 !important;
    color: #fff !important;
    text-decoration: none;
  }

  .google-si a:hover {
    background-color: #df786c !important;
    color: #fff !important;
    text-decoration: none;
  }

  .linkedin-si a:hover {
    background-color: #4d9ecc !important;
    color: #fff !important;
    text-decoration: none;
  }

  .facebook-si a:hover {
    background-color: #3B5998 !important;
    color: #fff !important;
    text-decoration: none;
  }
}




#mainMenu {
  position: relative;
  li {
    position: absolute;
    top: 0;
    display: block;
    left: 0;
    right: 0;
    opacity: 0;
   
  }
  a {
      border-radius: 0px;
      @include bgFade(0.3s);
      &:hover {
        background-color: #34495e;
        color: #ecf0f1;
        border-radius: 0px;
        
      }
  }
}

a {
  color: #3498db;
  &:hover {
    color: #2980b9;
  }
}

.navbar-default .navbar-brand {
  color: #2980b9;
}



#marketingPoints {
  background-color: #2c3e50;
  background-image: url(../../images/diagmonds_pattern.png);
  color: #ecf0f1;
  padding-top: 50px;
  padding-bottom: 40px;
}

.carousel-caption h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 2px;
  word-spacing: 0.2em;
}

.btn {
  text-transform: uppercase;
  font-family: 'futura-pt';
  font-weight: bold;
  letter-spacing: 1px;
}

.carousel-control {
  background: none transparent;
  &:hover, &.right, &.left {
    background: none transparent;
  }
}

.carousel-indicators {
  li {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 2px;
  }
  .active {
    width: 12px;
    height: 12px;
  }
}

.carousel-control {
  .icon-chevron-sign-left {
    display: block;
    position: absolute;
    bottom: 19%;
    font-size: 1.5em;
  }
  .icon-chevron-sign-right {
    display: block;
    position: absolute;
    bottom: 19%;
    font-size: 1.5em;
    right: 20%;
  }
  .icon-chevron-sign-left {
    left: 20%;
  }
}

.btn-primary {
  background-color: $blue-85;
  
  &:hover {
    background-color: $blue-100;
  }
}

.btn {
  @include bgFade(0.5s); 
  border: none;
  border-radius: 0;
}

.icon-bg {
  background-color: $navy-100;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  display: block;
  @include transformSetup(0.5s);
  
  &:hover {
    @include transformScale(1.1);
  }
}

#marketingPoints h2 {
  text-transform: uppercase;
  font-family: 'futura-pt';
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}

.icons-ul {
  text-align: left;
  font-size: 16px;
}

#marketingPoints {
    .col-lg-4 {
    display:block;
    height:32em;

    }
  .icons-ul {
    
    i {
      color: $blue-85;
    }
    li {
      margin-bottom: 5px;
    }
  }
  .btn-sm {
    position: absolute;
    bottom:0;
    margin-top: 15px;
    background-color: $navy-100 - 20;
    color:$navy-100 + 20;
    @include bgFade(0.5s);
    &:hover {
        color: $navy-100 - 20;
        background-color:$navy-100 + 20;
    }
  }
}
.blogPosts {
    background-color: $navy-100;
}

.thumbImg{display:block;background:#000;padding:0}
.thumbImg img{display:block;position:relative;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-o-transition:all .5s linear;-ms-transition:all .5s linear;transition:all .5s linear}
.thumbImg:hover img{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40);opacity:0.4}



@import 'mediaQueries';
